<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
    <script src="js/jsGridSpeakers.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" ></script>

    <link rel="icon" href="/favicon.ico?v=1.1">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

  
  </head>
  <body>
    <h2><%= title %></h2>
    <div id="jsGrid" style="margin-bottom: 2em"></div>
    
  </body>
</html>
