body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btnDiv {
	margin-top: 2em;
	text-align: center;
}

button {
	cursor: pointer;
}

#jsGrid {
	margin-top: 2em;
}

.jsgrid-header-row>.jsgrid-header-cell {
    background: orange;
    color: white;
}

.speakerList {
	text-align: right
}

.speakerList > a {
	color: orange
}

.speakerList > a:hover {
	color: #00B7FF
	/*#00B7FF*/
}

.status-modal-header {
	padding: 10px;

}

.status-modal-content {
	border-radius: 0
}